body {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: Roboto;
  color: white;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#title,
#description {
  margin: 2em auto;
  text-align: center;
}

#description {
  margin: -54px auto 2em auto;
}

form {
  width: 160vw;
  max-width: 600px;
  min-width: 480px;
  margin: 0 auto;
  padding: 2.5rem;
  display: block;
  background-color: rgba(27, 27, 50, 0.8);
  border-radius: 0.3rem;
}

label {
  display: block;
  margin: 0.5rem 0;
}

fieldset {
  border: 0;
  padding: 0 16px;
  font-size: 18px;
}

input,
textarea,
select {
  margin: 8px 0 15px 0;
  width: 100%;
  min-height: 2em;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 18px;
}

input[type="radio"] {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="checkbox"] {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

textarea {
  border-radius: unset;
}

.current-role {
  margin: 0 0 0 0;
}

p {
  margin: 10px 0 -6 0;
}

.favority2 {
  margin: -10px 0 -10px 0;
}

.botton-recurse {
  margin: 14px 0 16px 0;
}

.button-checkbox {
  margin: 10 0 15px 0;
}

textarea {
  margin: 12px 0 1em 0;
}

input[type="submit"] {
  padding: 12px;
  background-color: #00e497;
  border: solid #00e497;
  color: white;
  font-size: 16px;
  font-family: Inter;
}
